In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data.csv')

In [3]:
df

,Date,Open,High,Low,Close,Shares Traded,Turnover (Rs. Cr)
0,30-Aug-2018,11694.75,11698.80,11639.7,11676.8,323450305,18275.54
1,31-Aug-2018,11675.85,11727.65,11640.1,11680.5,357230312,20755.73

In [4]:
print(df['Date'].dtype)

object

In [5]:
print(df['Open'].dtype)

float64

In [6]:
print(df['Open'].astype('category'))

0    11694.75
1    11675.85
Name: Open, dtype: category
Categories (2, float64): [11675.85, 11694.75]

C:\Users\Yash\anaconda3\lib\site-packages\pandas\io\formats\format.py:1429: FutureWarning: Index.ravel returning ndarray is deprecated; in a future version this will return a view on self.
  for val, m in zip(values.ravel(), mask.ravel())

In [7]:
df

,Date,Open,High,Low,Close,Shares Traded,Turnover (Rs. Cr)
0,30-Aug-2018,11694.75,11698.80,11639.7,11676.8,323450305,18275.54
1,31-Aug-2018,11675.85,11727.65,11640.1,11680.5,357230312,20755.73